.not_found {
    margin-top: 5em;
}
.link_uitgezet {
    text-decoration: none;
    color: inherit;
  }

  .top_left_button {
    position:absolute;
    margin: 2em 2em;
    padding: 10px 20px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .top_left_button:hover {
    background-color: #0056b3; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }