.boek_detail_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: grid;
    grid-template-areas: "a b"
                         "a b";
   
    box-shadow: 3px 3px gray;
  }
  
  .cover_img {
    max-width: 100%;
    height: 40%;
    max-height: 400px;
    border-radius: 4px;
    object-fit: contain;
    grid-area: b;
    min-width: fit-content;
    margin-right: 1em;
  }
 .cover_container {
    text-align: center;
    margin-bottom: 20px;
    grid-area: b;
  }
  .auteur_info {
    margin-top: 20px;
    font-size: 1rem;
  }

  .reserveer_container{
    grid-area: b;
    align-self: center;
    margin-top: 5em;
  }
  .reserveer_knop{
    background-color: green;
    padding: 1em;
    border-radius: 10px;
    border: none;
    width: 10em;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .niet_ingelogd_knop{
    background-color: red;
    padding: 1em;
    border-radius: 10px;
    border: none;
    width: 10em;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .niet_ingelogd_knop:hover{
    background-color: rgb(187, 0, 0);
    
  }
  .reserveer_knop:hover{
    background-color: rgb(0, 90, 0);
    
  }
  .boek_info{
    grid-area: a;
  }
  .boek_info p {
    margin: 5px 0;
  }
  
  .boek_titel {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 20px;margin-right: 1em;
  }

  #suggestie_tekst{
    margin-top: 5em;
    font-size: large;
    font-weight: bold;
    display: inline-block;
    padding: 4px 8px;           
    border: 1px solid #333;       
    border-radius: 4px;          
    background-color: #f0f0f0;    
    color: #333;
    align-content: center;
  }