
.table_container {
    max-height: 400px;
    overflow-y: auto;          
    overflow-x: auto;          
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 100vw;
    min-height: 50vh;
  }
  
  .kleine_container {
    max-height: 400px;
    overflow-y: auto;          
    overflow-x: auto;          
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 50vw;
    min-width: 60vw;
    min-height: 50vh;
    display: inline-block;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; 
    text-indent: 1em;
  }
  
  th {
    position: sticky;         
    top: 0;
    background-color: #f5f5f5;
    z-index: 1;
  }
  
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

.up{
  color: black;
  background-image: url("../assets/up_arrow.png");
}
.down{
  color: black;
  background-image: url("../assets/down_arrow.png");
}
.default_arrow{
  color: peru;
  background-image: url("../assets/default.png");
}
th.up,
th.default_arrow,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center left;
}


.menu_container {
  position: relative;
  display: inline-block;
  right: 1em;
}

.menu_button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 3;
}

.menu_options {
  display: none;
  position:absolute;
  top: 100%;
  left: 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.menu_options button {
  display: block;
  width: 100%;
  padding: 8px 12px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.menu_options button:hover {
  background-color: #f0f0f0;
}
