.boek_container {
    width: 100%;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    margin-left: 5em;
    border-radius: 1em;
    background-color:lightcyan;
  }
  
  .book_titel {
    font-size: 2em;
    text-align: left;
  }
  
  .cover_container {
    display: flex;
    margin-top: 20px;
  }
  
  .cover {
    width: 100%;
    height: 300px;
    background-color: lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .cover_img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .auteur_info {
    margin-left: 20px;
    width: 40%;
  }
  
  .auteur_foto {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .auteur_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .auteur_description h3 {
    margin: 0;
  }
  
  .description_container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
  }
  