
.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: left;
  }
  
  .link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 1em;
  }
  
 .actieveLink{
    color:antiquewhite;
    font-size: 18px;
    margin: 1em;
    text-decoration: none;
  }
  .navbar a:hover {
    color: #ccc;
  }
  
  .gebruiker_icon{
    min-height: 50px;
    min-width: 50px;
   color: white;
  }
  .gebruiker_icon:hover{
    color: black;
    
  }
  .gebruiker_container{
   margin-right: 4em;
  }

  .dropdown_container{
    position: absolute;
    background-color: wheat ;
    border-radius: 5px;
    top:5em;
  }
  li{
    text-align: left;
    list-style:none;
  }
